.slider {
  display: flex;
  position: relative;
  float: left;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;

  &__container {
    display: flex;
    padding: 0 55px;
    transition: transform 300ms ease 100ms;
    z-index: 3;
    width: 100%;
    float: left;
    margin-top: 40px;
  }

  &:not(&--open) .item:hover .show-details-button {
    opacity: 1;
  }

  &:not(&--open) .item:hover {
    transform: scale(1.08) !important;
  }

  &:not(&--open):hover .item {
    transform: translateX(-25%);
  }

  &:not(&--open) .item:hover ~ .item {
    transform: translateX(25%);
  }
}

.slider-wrapper {
  padding: 20px 0;
  overflow: hidden;
  position: relative;
}

.slide-button {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 55px;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  outline: 0;
  padding: 0;
  margin: 40px 0;
  z-index: 4;

  span {
    width: 25px;
    color: #fff;
    display: block;
    margin: 0 auto;
  }

  &--next {
    right: 0;
    margin-top: 60px;
    margin-bottom: 20px;

    span {
      transform: rotateZ(-90deg);
    }
  }

  &--prev {
    left: 0;
    margin-top: 60px;
    margin-bottom: 20px;

    span {
      transform: rotateZ(90deg);
    }
  }
  &--next-category {
    right: 0;
    margin-top: 100px;
    margin-bottom: 20px;

    span {
      transform: rotateZ(-90deg);
    }
  }

  &--prev-category {
    left: 0;
    margin-top: 100px;
    margin-bottom: 20px;

    span {
      transform: rotateZ(90deg);
    }
  }
}

.content {
  position: relative;
  height: 37vw;
  margin-top: -40px;

  &__area {
    left: 0;
    right: 0;
    height: 100%;
    z-index: 3;
    margin-top: 2rem;
    padding-left: 55px;

    &__container {
      padding: 30px 70px;
      color: wheat;
      max-width: 700px;
    }

    .paper {
      height: 100%;
    }
  }

  &__close {
    color: #fff;
    width: 40px;
    height: 40px;
    background: transparent;
    outline: none;
    border: none;
    position: absolute;
    top: 0;
    right: 30px;
  }
}

.show-details-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 300ms ease 100ms;
  background: transparent;
  border: 0;
  outline: none;
  width: 100%;

  span {
    display: block;
    width: 14px;
    margin: 0 auto;
    color: white;
  }
}

.mark {
  box-sizing: border-box;
  border: solid 4px #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 4;

  &:before,
  &:after {
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    top: 100%;
    left: 50%;
    margin-left: -13px;
    border-style: solid;
    border-width: 7px 13px 0 13px;
  }

  &:before {
    border-color: rgba(0, 0, 0, 0.15) transparent transparent transparent;
    margin-top: 5px;
  }

  &:after {
    margin-top: 4px;
    border-color: #fff transparent transparent transparent;
  }
}

.item {
  flex: 0 0 19.7%;
  transition: transform 300ms ease 100ms;
  margin: 0 2px;
  position: relative;

  &__category {
    margin-top: 40px;
  }

  img {
    height: 100%;
    width: 100%;
    vertical-align: top;
  }
}

.card {
  margin-top: 5rem;
  max-width: 500px;
}

.dialog-title {
  display: flex;
  flex-direction: column;
}

.action-button {
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  height: inherit;
}

.category-input {
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.card-actions {
  max-height: 200px;
  overflow-y: scroll;
}
